* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        " h h"
        " a m "
    ;
}

main,
main div {
    border: 1px solid black;
}

header {
    grid-area: h;
}

main {
    grid-area: m;
    display: grid;
    grid-template-rows: 5vh 1fr 2fr 1.4fr;
    grid-template-areas:
        "o o o o o o o o o o o o"
        "n n n n n n i i i e e e"
        "p p p p p p p p a a a a"
        "t t t t t t t t a a a a ";
    gap: 30px;
    padding: 30px;
}

aside {
    grid-area: a;
}

main{
    background-color: #E5E5E5;;
}
main div{
    background: #FFFFFF;
border-radius: 8px;
}
.networth {
    grid-area: n;
    padding: 30px 10px 30px 30px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */

}

.income {
    grid-area: i;
}

.expenses {
    grid-area: e;
}

.portfolio {
    grid-area: p;
}

.assets {
    grid-area: a;
}

.transactions {
    grid-area: t;
}

.over {
    grid-area: o;
}

/* Начало коддинга внутреннего контента грид */

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 8px rgba(153, 166, 191, 0.12);
}

header .left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

#logo {
    width: 33px;
    height: 33px;
    margin-right: 12px;
}

#toggle-menu {
    width: 17px;
    height: 12px;
}

header .left .left_two input {
    width: 340px;
    height: 40px;
    background-color: #F5F7FA;
    border-radius: 8px;
    margin-left: 40px;
    border: none;
}

#sn {
    margin-left: -25px;
}

header .left_two {
    display: flex;
    align-items: center;
}

header .left h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #2C384F;
}

.left .left_one {
    align-items: center;
    display: flex;
}

header .right {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

header .right select {
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #2C384F;
}

#flag {
    width: 29px;
    height: 29px;
}

#notification {
    width: 24px;
    height: 24px;
}

#ew {
    width: 35px;
    height: 35px;
}

.right_one,
.right_two {
    width: 49%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Стили части aside */
.Ethereum {
    height: 70px;
    width: 232px;
    border: 5px;
    background-color: #784FFE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    height: 15px;
    width: 232px;
    background-color: rgba(120, 79, 254, 0.36);
    filter: blur(24px);
}

.Ethereum select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #784FFE;
    color: #FFFFFF;
    margin-left: 25px;
}

.dashboard {
    height: 54px;
    width: 232px;
    background-color: rgba(120, 79, 254, 0.12);
    border-radius: 8px;

    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

#dlogo {
    width: 24px;
    height: 24px;
    margin: 0 20px;
}

.dashboard p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #784FFE;
}

aside .container .bottom .items {
    display: flex;
    width: 80%;
    margin-left: 20px;
}

aside .container .bottom .items p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #2C384F;
    margin-left: 20px;
}

aside .container .bottom {
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
    margin-top: 29px;
}

aside .container {

    padding: 36px 24px 0 24px;
}

/* асайд закончен. начало мейн */
.over {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.over .settings4 {
    width: 124px;
    height: 38px;
    background: #724BF2;
    border-radius: 12px;
    display: flex;
    align-items: center;
    border: none;
}

.over .settings4 img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 17px;
}

.over .settings4 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
}

.over h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #2C384F;
}


.networth .left {
    margin-right: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.networth .left .numbers {
    margin-top: 5px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}

.networth .left .numbers h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #2C384F;
    margin-right: 17px;
}

.networth .left .numbers p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    margin-left: 5px;

    color: #20BF6B;
}

.networth .left .numbers img {
    height: 13.333333969116211px;
    width: 13.333333969116211px;


}

.networth .left>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #899BBE;
}

.networth .left .action {
    width: 100%;
    display: flex;

}

.networth .left .action .send {
    background-color: #724BF2;
    margin-right: 10px;

}

.networth .left .action .send,
.networth .left .action .buy {
    width: 94px;
    height: 38px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.networth .left .action .send img,
.networth .left .action .buy img {
    margin-right: 8px;
}

.networth .left .action .buy {
    background-color: #ECE6FF;
    ;
}
.networth .right {
   
    display: flex;
    align-items: flex-end;
    width: 49%;
}

.networth .right img {
    width: 100%;
    height: 92.42px;
   
}
